.body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin:15px;
}

.japan {
    background-color: #fff;
}

.flag {
    content: "";
    width: 300px;
    height: 180px;
    border: 1px solid grey;
}


.circle {
    content: "";
    background-color: red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title__flag {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 10px;
}

.item {
    height: 100%;
    width: 100px;
    content: "";
}

.column {
    height: 60px;
    content: "";
    width: 100%;
}


.green {
    background-color: seagreen;
}

.white {
    background-color: white;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}


.yellow {
    background-color: yellow;
}


.flex__column {
    display: flex;
    flex-direction: column;
}

.h-50 {
    height: 50%;
}

.h-25 {
    height: 25%;
}