body {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-image: url("img/background.jpg");
    background-size: cover;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 40px;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
}


.flag {
    content: "";
    width: 300px;
    height: 180px;
    border: 1px solid grey;
    box-shadow: 5px 6px 15px -10px #000000;
}


.circle {
    content: "";
    background-color: red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.name {
    position: absolute;
    top: 15px;
    left: 60px;
    font-size: 25px;
    color: darkslategrey;
    text-align: center;
    width: 50%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.title {
    text-align: center;
    font-size: xx-large;
    height: 60px;
    width: 80%;
    margin: auto;
    margin-bottom: 12px;
    position: absolute;
    top: 150px;
    left: 32px;
}

.item {
    width: 100%;
    height: 100%;
}

.row {
    width: 100px;
    content: "";
}

.column {
    height: 60px;
    content: "";
    width: 100%;
}


.green {
    background-color: #147840;
}

.white {
    background-color: #fbeaea;
}

.red {
    background-color: #e11111;
}

.blue {
    background-color: #0f0fdf;
}

.yellow {
    background-color: #e9d700;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
}

.flex__column {
    display: flex;
    flex-direction: column;
}

.h-100 {
    height: 100%;
}

.h-50 {
    height: 50%;
}

.h-25 {
    height: 25%;
}


.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-70 {
    width: 70%;
}

.w-65 {
    width: 65%;
}

.w-50 {
    width: 50%;
}

.w-35 {
    width: 35%;
}


.w-30 {
    width: 30%;
}


.w-25 {
    width: 25%;
}

.h-px-60 {
    height: 60px;
}

.w-px-50 {
    width: 50px;
}

.legend {
    position: absolute;
}

.legend__center {
    top: 68px;
    left: 125px;
}

.legend__left {
    top: 60px;
    left: 35px;
}